.hero {
  width: 100%;
  height: 500px; /* 好きな高さにする */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/hero/hosizora.png"); /* public/hero/hero-bg.jpg */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
}
